.hidden {
    display: none;
}

.playlist-name-form-div {
    height: 40px;
    background: #434C5E;
}

.add-playlist-button {
    position: absolute;
    top: 0px;
    background: #434C5E;
    border: none;
    width: 200px;
    height: 40px;
}

.add-playlist-button:hover {
    background: #3a414d;
}

.playlist-name-input {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 190px;
    max-width: 190px;
    height: 30px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: #ECEFF4;
    color: #2E3440;
    padding-left: 10px;
}

::placeholder {
    opacity: 1; 
    color: #9A9CA1;
    left: 10px;
    vertical-align: middle;
}