#hidden {
    display: none; 
}

#form-button {
    position: absolute;
    background: #434C5E;
    border: none;
    width: 200px;
    height: 40px;
    text-align: left;
}

#form-button:hover,
#form-button:hover span {
    background: #3a414d;
}

#title-span {
    position: absolute; 
    left: 27.5px;
    top: 50%;
    transform: translateY(-50%);
    background: #434C5E;
}

#form-div {
    position: absolute;
    width: 200px;
    max-width: 200px; 
    height: 40px;
    background-color: #434C5E;
}

#form-input {
    position: absolute;
    width: 190px;
    max-width: 190px;
    top: 5px;
    left: 5px;
    height: 30px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: #ECEFF4;
    color: #2E3440;
    padding-left: 10px;
}

::placeholder {
    opacity: 1; 
    color: #9A9CA1;
    left: 10px;
    vertical-align: middle;
}

img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
}