* {
    font-family: Arial;
    box-sizing: border-box;
    background-color: #2E3440;
    color: #ECEFF4;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #434C5E;
}

::-webkit-scrollbar-thumb {
    background: #56627a;
}

::-webkit-scrollbar-thumb:hover {
    background: #848fa4;
}