/* These elements do not change when a song is playing */
.search-song-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.search-add-button {
    width: 40px;
    border: none;
}

.notadding {
    background: #3B4252;
}

.notadding:hover {
    background: #A3BE8C;
}

.adding {
    background: #A3BE8C;
}

.adding:hover {
    background: #97af81;
}

.hidden {
    display: none;
}

.search-song-row-playbutton {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    height: 40px;
    border: none;
}

.search-song-row-playbutton span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-span-title {
    padding-left: 5px;
    width: 35%;
    max-width: 35%;
    text-align: left;
}

.song-span-artist {
    width: 25%;
    text-align: left;
}

.song-span-album {
    width: 25%;
    text-align: left;
}

.song-span-length {
    flex-direction: row-reverse;
    width: 15%;
    padding-right: 5px;
    text-align: right;
}

/* These elements change when a song is playing */
/* CSS for when song is not playing */
.notplaying {
    background: #3B4252;
}

.notplaying:hover {
    background: #333947;
}

.notplaying span {
    background: #3B4252;
}

.notplaying:hover span {
    background: #333947;
}

/* CSS for when song is playing */
.playing {
    background: #8FBCBB;
}

.playing:hover {
    background: #74a6a6;
}

.playing span {
    background: #8FBCBB;
}

.playing:hover span {
    background: #74a6a6;
}

/* CSS for the list of playlists that display when a user clicks the add song button */
.playlist-list-wrapper {
    position: absolute;
    right: 40px;
    transform: translateY(-40px);
    width: 400px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.playlist-list-header {
    position: absolute;
    top: 0px;
    height: 10%;
    width: 100%;
    font-size: 12px;
    border-style: solid;
    border-bottom: none;
    border-color: #434C5E;
    border-width: 2px;
    background: #3B4252;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.playlist-list {
    position: absolute;
    top: 20px;
    line-height: 1px;
    height: 90%;
    width: 100%;
    right: 0px;
    border-style: solid;
    border-color: #434C5E;
    border-width: 2px;
    overflow-y: scroll;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.playlist-select-button {
    background: #3B4252;
    width: 100%;
    max-width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlist-select-button:hover {
    background: #333947;
}

.add-song-icon {
    background: transparent;
    width: 10px;
    height: 10px;
}