#searchbar-div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    max-width: 200px;
    height: 40px;
    background-color: #5E81AC;
}

#searchbar-input {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 190px;
    max-width: 190px;
    height: 30px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: #ECEFF4;
    color: #2E3440;
    padding-left: 10px;
}

::placeholder {
    opacity: 1; 
    color: #9A9CA1;
    left: 10px;
    vertical-align: middle;
}