#sidebar {
    position: absolute;
    left: 0px;
    top: 40px;
    bottom: 80px;
    padding: 0px;
    width: 200px;
    max-width: 200px;
}

#sidebar-playlists {
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0px;
    overflow-y: scroll;
}