#main-panel {
    position: absolute;
    left: 200px;
    top: 40px;
    right: 0px;
    bottom: 0px;
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
}

#song-display-header {
    display: flex;
    align-items: center;
    width: calc(0.95 * (100% - 10px));
    max-width: calc(0.95 * (100% - 10px));
    height: 20px;
    max-height: 20px;
    background-color: #434C5E;
    border: none;
}

#song-display-header span {
    background-color: #434C5E;
}

.header-span-title {
    padding-left: 5px;
    width: 35%;
    max-width: 35%;
    text-align: left;
}

.header-span-artist {
    width: 25%;
    text-align: left;
}

.header-span-album {
    width: 25%;
    text-align: left;
}

.header-span-length {
    flex-direction: row-reverse;
    width: 15%;
    padding-right: 5px;
    text-align: right;
}

#filler {
    position: absolute;
    background-color: #434C5E;
    left: calc(0.95 * (100% - 10.2px));
    top: 0px;
    width: calc(5% + 10px);
    height: 20px;
}

#song-display {
    position: absolute;
    width: 100%;
    top: 20px;
    bottom: 80px;
    overflow-y: scroll;
}