.sidebar-playlist {
    width: 190px;
    height: 40px;
}

.playlist-button {
    position: absolute;
    border: none;
    width: calc(100% - 40px);
    left: 0px;
    height: 40px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notshowing {
    background: #3B4252;
}

.notshowing:hover {
    background: #333947;
}

.showing {
    background: #8FBCBB;
}

.showing:hover {
    background: #74a6a6;
}

.delete-button {
    position: absolute;
    right: 0px;
    background: #3B4252;
    border: none;
    width: 40px;
    height: 40px;
}

.delete-button:hover {
    background: #BF616A;
}

#delete-icon-div {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background: transparent;
}

.delete-icon {
    background: transparent;
    width: 10px;
    height: 10px;
}