#bottom-bar {
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 100%;
    left: 0px;
    background-color: #5E81AC;
}

#bottom-bar span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #5E81AC;
    width: 20%;
    max-width: 20%;
}

.bottom-bar-title {
    position: absolute;
    left: 5px;
    top: 25%;
}

.bottom-bar-artist {
    position: absolute;
    left: 5px;
    bottom: 25%;
    font-size: 11px;
}

.button {
    position: absolute;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434C5E;
}

.pause-play {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
}

.pause-play:hover,
.rw:hover,
.ff:hover,
.loop:hover,
.shuffle:hover {
    background-color: #3d4350;
}

.play-icon {
    transform: translateX(0.75px);
    width: 20px;
    height: 20px;
}

.icon {
    fill: #ECEFF4;
    background: transparent;
}

.pause-play:hover .icon,
.pause-play:hover .icon,
.rw:hover .icon,
.ff:hover .icon,
.loop:hover .icon {
    fill: #b3b5b7;
}

.small {
    top: 15%;
    width: 25px;
    height: 25px;
}

.shuffle {
    left: 50%;
    transform: translateX(calc(-50% - 95px));
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.shuffle-off {
    background-image: url("/public/icons/shuffle/shuffle-off.png");
}

.shuffle-off:hover {
    background-image: url("/public/icons/shuffle/shuffle-off-hover.png");
}

.shuffle-on {
    background-image: url("/public/icons/shuffle/shuffle-on.png");
    background-color: #8FBCBB;
}

.shuffle-on:hover {
    background-image: url("/public/icons/shuffle/shuffle-on-hover.png");
    background-color: #74a6a6;
}

.rw {
    left: 50%;
    transform: translateX(calc(-50% - 50px));
}

.rw-icon {
    transform: translateX(-0.5px);
}

.ff {
    left: 50%;
    transform: translateX(calc(-50% + 50px));
}   

.ff-icon {
    transform: translateX(0.5px);
}

.loop {
    left: 50%;
    transform: translateX(calc(-50% + 95px));
}

.loop-on {
    background-color: #8FBCBB;
}

.loop-on:hover {
    background-color: #74a6a6;
}

#volume-icon-div {
    position: absolute;
    right: calc(10% + 45px);
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: transparent;
}

.volume-icon {
    fill: #ECEFF4;
    background: transparent;
}